body { 
		font: 5pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    	margin: 10 0 10 0px;
    	text-align: center; 
		}
#divform {
		position:absolute;
		left:5px;
		top:5px;
		width:690px;
		height:70px;
		border: 0px solid #000000;
		visibility: visible;
		overflow: auto;		
		}
#divlistar {
		position:absolute;
		left:5px;
		top:70px;
		width:270px;
		height:950px;
		border: 0px solid #000000;
		visibility: visible;
		overflow: auto;		
		}
#divdominio {
		position:absolute;
		left:310px;
		top:70px;
		width:570px;
		height:950px;
		border: 0px solid #000000;
		visibility: visible;
		overflow: auto;		
		}
#divedit {
		position:relative;
		left:5%;
		top:15%;
		width:90%;
		height:100%;
		border: 0px solid #000000;
		visibility: hidden;
		overflow: auto;		
		}
#divdoc {
		position:relative;
		left:5%;
		top:15%;
		width:90%;
		height:100%;
		border: 0px solid #000000;
		visibility: hidden;
		overflow: auto;		
			
		}
#divplani {
		position:relative;
		left:5%;
		top:15%;
		width:90%;
		height:100%;
		border: 0px solid #000000;
		visibility: hidden;
		overflow: auto;		
		}
#divmail {
		position:absolute;
		left:10px;
		top:70px;
		width:970px;
		height:950px;
		border: 0px solid #000000;
		visibility: hidden;
		overflow: auto;	
		}



#flistar {font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;}
#fdominio {font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;}
#fedit {font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif; background: #ffffff}
#fdoc {font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif; background: #ffffff}
#fplani {font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif; background: #ffffff}
#fmail {font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;}
